@use '../../../../../node_modules/@angular/material/' as mat;

$map: (
  red: mat.$red-palette, pink: mat.$pink-palette, purple: mat.$purple-palette,
  deep-purple: mat.$deep-purple-palette, indigo: mat.$indigo-palette, blue: mat.$blue-palette,
  light-blue: mat.$light-blue-palette, cyan: mat.$cyan-palette, teal: mat.$teal-palette,
  green: mat.$green-palette, light-green: mat.$light-green-palette, lime: mat.$lime-palette,
  yellow: mat.$yellow-palette, amber: mat.$amber-palette, orange: mat.$orange-palette,
  deep-orange: mat.$deep-orange-palette, brown: mat.$brown-palette, gray: mat.$gray-palette,
  blue-gray: mat.$blue-gray-palette
);

@function get($palette-name) {
  @return map-get($map, $palette-name);
}
